.Heading-Secondary
{
    @extend %Heading-Secondary;
}

.Column-Short
{
    @extend %Column-Short;
    @extend %Card;

    form
    {
        @extend %Content-Padding;
        margin-top: 16px;
    }
}

.Form
{
    margin-top: 16px;
}

.Row
{
    font-size: 0;
    & > *
    {
        vertical-align: middle;
        display:        inline-block;
    }

    & + .Row
    {
        margin-top: 16px;
    }

    .Control-Description
    {
        display:     inline-block;
        margin-left: 40%;
        padding:     Atom(1) 0;
        font-size:   12px;
        color:       $Grey;
    }

    &.Double
    {
        input
        {
            @include Adaptive('<tablet')
            {
                margin-top: 8px;
            }
            @include Adaptive('>=tablet')
            {
                width: 30%;

                &:first-of-type
                {
                    border-top-right-radius:    0;
                    border-bottom-right-radius: 0;
                }
                &:last-of-type
                {
                    border-left:               transparent;
                    border-top-left-radius:    0;
                    border-bottom-left-radius: 0;
                }

            }
        }
    }

    &.Right
    {
        text-align: right;
        margin-top: 0;
    }
    label
    {
        @extend %Mobile-Fluid;
        @extend %Label-Base;
        @include Adaptive('>=tablet')
        {
            width: 40%;
        }
    }
    input, textarea, select
    {
        @extend %Mobile-Fluid;
        @extend %Input-Base;
        @include Adaptive('>=tablet')
        {
            width: 60%;
        }
    }

    textarea
    {
        padding-top: 10px !important;
        line-height: 16px !important;
        font-size:   14px !important;
    }

    select
    {
        height: 32px;
    }

    button
    {
        @extend %Transition-Std;
        @extend %Btn-Base;
    }
}

.Btn
{
    @extend %Btn-Base;
}

table.Adaptive
{
    @extend %Mobile-Bleed;
    width: 100%;

    tr
    {
        @include Adaptive('<=tablet')
        {
            display:    block;
            margin-top: Atom(1);
        }
    }
    td
    {
        @extend %Mobile-Fluid;

        @include Adaptive('<=tablet')
        {
            display: block;
            padding: Atom(1) Atom(2);
        }
        @include Adaptive('>tablet')
        {
            width:   50%;
            padding: Atom(2) 0;
        }

        &:first-child
        {
            font-weight: 500;
            font-size:   12px;
            @include Adaptive('>=tablet')
            {
                font-size: 14px;
            }

        }
        &:last-child
        {
            @include Adaptive('<=tablet')
            {
                font-size: 14px;
            }
        }
    }
}

.Card
{
    @extend %Column;
    @extend %Card;

    &.Short
    {
        @extend %Column-Short;
    }

    .Card-Heading
    {
        @extend %Content-Padding;
        background-color: $Grey-XL;

        h1, h2
        {
            @extend %Heading-Secondary;
            padding-bottom: 0;
        }
    }

    .Card-Content
    {
        @extend %Content-Padding;
    }
}

.Warning
{
    display:          block;
    margin-top:       Atom(2);
    padding:          Atom(2);
    font-size:        12px;
    border-radius:    4px;
    border:           1px solid darken(#fdf4e8, 5%);
    background-color: #fdf4e8;
    color:            darken(#fdf4e8, 70%);

    & + .Warning
    {
        margin-top: 16px;
    }
}

.Error
{
    @extend .Warning;
}

.Global-Message
{
    @extend .Warning;
    margin-bottom: Atom(2);
}