%Unclickable
{
    cursor: default;
}

%Unselectable
{
    @extend %Unclickable;
    & *::selection
    {
        background-color: transparent;
    }
    &::selection
    {
        background-color: transparent;
    }

}

%Transition-Std
{
    transition: all linear 0.2s;
}

%Inline-Block-Middle
{
    display:        inline-block;
    vertical-align: middle;
}

%Table-Cell-Middle
{
    display:        table-cell;
    vertical-align: middle;
}

%Table-Cell-Top
{
    display:        table-cell;
    vertical-align: top;
}

%Inline-Block-Top
{
    display:        inline-block;
    vertical-align: top;
}

%Card
{
    border-radius:    4px;
    background-color: #fff;
}

%Column-Base
{
    margin-left:  auto;
    margin-right: auto;
}

%Content-Padding
{
    padding: Atom(2);
}

%Mobile-Bleed
{
    @include Adaptive('<=tablet')
    {
        width:        calc(100% + #{$Mobile-Padding*2});
        margin-left:  -$Mobile-Padding;
        margin-right: -$Mobile-Padding;
    }
}

%Column
{
    @extend %Column-Base;
    max-width: 1200px;
}

%Column-Short
{
    @extend %Column-Base;
    max-width: 600px;
}

%Mobile-Fluid
{
    @include Adaptive('<=tablet')
    {
        width: 100%;
    }
}

%Heading-Main
{
    font-size:   28px;
    font-weight: 500;
}

%Heading-Secondary
{
    font-size:   24px;
    font-weight: 500;
    color:       $Grey-D;
}

%Border-Radius
{
    border-radius: 4px;
}

%Control-Base
{
    @extend %Transition-Std;
    display:       inline-block;
    border-radius: 4px;
    font-size:     16px;
    line-height:   32px;
}

%Control-Padding
{
    padding: 0 Atom(2);
}

%Input-Base
{
    @extend %Control-Base;
    @extend %Control-Padding;
    background-color: #fff;
    border:           1px solid $Grey-L;

    &:focus
    {
        border-color: $Primary;
        box-shadow:   0 0 10px rgba($Primary, .4);
    }
}

%Label-Base
{
    @extend %Control-Base;
    @include Adaptive('>=desktop')
    {
        padding-right: 16px;
    }
    color: $Grey-D;
}

%Btn-Base
{
    @extend %Control-Base;
    @extend %Control-Padding;
    text-align: center;
    cursor:     pointer;

    &.Primary
    {
        background-color: $Primary;
        color:            #fff;

        & > svg,
        & > span
        {
            display:        inline-block;
            vertical-align: middle;
        }

        &:hover
        {
            background-color: $Grey-D;
        }
    }

    &.Small
    {
        padding:          0 Atom(1);
        background-color: $Primary;
        color:            #fff;
        line-height:      Atom(3);

        & > svg,
        & > span
        {
            display:        inline-block;
            vertical-align: middle;
        }

        &:hover
        {
            background-color: $Grey-D;
        }
    }

    &.Remove
    {
        background-color: #cc4242;
    }

    &.Small + .Small{
        margin-top: Atom(1);
    }

}