html
{
    font-size: 1px;
    position:  relative;
}

input, button, textarea:focus
{
    outline: none;
}

button
{
    border:     none;
    cursor:     pointer;
    background: none;
}

main
{
    background: $main-back;
    padding:    34px 0;
    box-sizing: border-box;
    min-height: 500px;
}

body
{
    position:    relative;
    width:       100%;
    font-family: 'Roboto', sans-serif;
    font-size:   16px;
    color:       $Grey-D;
}

.Wrapper
{
    @extend %Column;
    padding: 0 24px;

    @include Adaptive("<=tablet")
    {
        padding: 0 16px;
    }
}

a
{
    display:         block;
    color:           inherit;
    text-decoration: none;
}

img
{
    display: block;
}

li
{
    list-style-type: none;
}

.Svg-Container
{
    display: none;
    height:  0;
    opacity: 0;
}

.Left
{
    text-align: left;
}

.Right
{
    text-align: right;
}

.recaptchatable
{
    width: 100%;
}

h1
{
    font-size:      24px;
    color:          #5e5e5e;
    font-weight:    500;
    padding-bottom: 24px;
}

h2
{
    font-size:      20px;
    color:          #5e5e5e;
    font-weight:    500;
    padding-bottom: 24px;
}

strong
{
    font-weight: 600;
}

.Card-Text
{
    line-height:    24px;
    padding-bottom: 16px;
}

p + p
{
    margin-top: 16px;
}

#vk_comments
{
    width: 100% !important;
    iframe
    {
        width: 100% !important;
    }
}

.Seo-Text
{
    padding-bottom: Atom(3);
}

p
{
    word-wrap: break-word;
}

.Color-green .Card-Head
{
    background: #9ff1a2;
}

.Color-red .Card-Head
{
    background: #ffb8b8;
}

.Color-blue .Card-Head
{
    background: #aeccea;
}

.Color-yellow .Card-Head
{
    background: #fffd9a;
}

.Color-purple .Card-Head
{
    background: #ffd1f9;
}