.Cabinet-Links
{
    > a
    {
        display:       block;
        margin-bottom: Atom(2);
    }

    &.Cabinet-Links + .Cabinet-Links
    {
        margin-top: Atom(4);
    }

    h3
    {
        font-weight:   600;
        font-size:     Atom(2.25);
        margin-bottom: Atom(2);
    }
}