.Card-Full
{
    @extend %Border-Radius;

    max-width: 1248px;
    margin:    auto;

    @include Adaptive("<=tablet")
    {
        padding: 0 5px;
    }

    @at-root .Full-Title
    {
        color:       $card-text;
        font-size:   28px;
        font-weight: 500;

        img
        {
            margin-left:    8px;
            vertical-align: middle;
            display:        inline-block;
        }
    }

    @at-root .Full-Tabs-Nav
    {
        ul
        {
            padding-left:  12px;
            font-size:     0;
            border-bottom: 1px solid #e2e2e2;
        }

        li
        {
            position:                relative;
            top:                     1px;
            display:                 inline-block;
            vertical-align:          top;
            color:                   $card-text;
            font-size:               14px;
            font-weight:             700;
            text-align:              center;
            padding:                 13px 15px;
            border-top-left-radius:  3px;
            border-top-right-radius: 3px;
            cursor:                  pointer;
            border-bottom:           1px solid transparent;
            text-transform:          uppercase;

            &.Active
            {
                background:    white;
                border-bottom: 1px solid white;
            }
        }
    }

    @at-root .Full-Head
    {
        background:              $back-card;

        border-top-left-radius:  3px;
        border-top-right-radius: 3px;
    }

    @at-root .Full-Top
    {
        width:   100%;
        padding: 20px 24px;

        .Card-Path
        {
            display:        table-cell;
            width:          auto;
            vertical-align: top;

            @include Adaptive("<=tablet")
            {
                display: block;
                width:   100%;

                .Card-Liker
                {
                    text-align: left;
                }
            }

            &:nth-of-type(2)
            {
                text-align: right;
            }
        }
    }
}

.Statistics-Tab
{
    padding: 0 !important;
}

.Full-Description
{
    display:                    block;
    overflow:                   auto;
    width:                      100%;
    background:                 white;
    padding:                    32px 24px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius:  3px;

    #chart_div
    {
        overflow-x: auto;
        overflow-y: hidden;
    }

    tr
    {

        @include Adaptive("<=ipad-L")
        {
            display: inline-block;
            width:   50%;

            @include Adaptive("<=480px")
            {
                width: 100%;
            }

        }

        td
        {
            color:          $card-text;
            font-size:      14px;
            padding-bottom: 16px;
            line-height:    1.714;
            vertical-align: top;

            @include Adaptive("<=ipad-L")
            {
                display:        block;
                padding-bottom: 12px;
            }

            a
            {
                color: $button-color;
            }
        }

        td:nth-of-type(1)
        {
            width:         216px;
            padding-right: 24px;

            @include Adaptive("<=ipad-L")
            {
                font-weight: 500;
                width:       100%;
            }
        }

        td:nth-of-type(2)
        {
            width:         384px;
            padding-right: 24px;
            font-weight:   500;

            @include Adaptive("<=ipad-L")
            {
                font-weight: 400;
                width:       100%;
            }
        }

    }

    .Description-Table
    {

        ul
        {
            width: 100%;

            li
            {
                @extend %Table-Cell-Top;
                width: 50%;

                @include Adaptive("<=ipad-L")
                {
                    width:   100%;
                    display: block;
                }
            }
        }

    }

    @at-root .By-Server
    {

        display:        table-cell;
        vertical-align: top;
        padding-right:  48px;

        @include Adaptive("<=ipad-L")
        {
            display: block;
            padding: 0;
        }

        h3
        {

            font-size:     24px;
            font-weight:   500;
            margin-bottom: 24px;
            line-height:   normal;
            color:         $card-text;
        }

        p
        {
            color:         $card-text;
            font-size:     14px;
            line-height:   1.714;
            margin-bottom: 6px;
            margin-top:    0;
            &:last-of-type
            {
                margin-bottom: 30px;
            }
        }

        img
        {
            margin-bottom: 24px;
            max-width:     100%;
        }
    }

}

.Widgets
{
    h2
    {
        padding-bottom: 16px;
    }

    input
    {
        width:         100%;
        padding:       8px;
        margin-bottom: 40px;
        border-left:   3px solid #00b5ec;
    }
    a
    {
        margin-bottom: 16px;
        display:       inline-block;
    }
    p
    {
        margin-bottom: 4px;
    }
}

.Purchases
{
    background: white;

    table
    {
        overflow:      auto;
        width:         100%;
        margin-bottom: 40px;
        td, th
        {
            display: table-cell !important;
            width:       20% !important;
            padding:     10px;
            text-align:  left;
            line-height: 1.714;
            @include Adaptive('<ipad-P')
            {
                display: table-cell !important;
            }
        }

        tr
        {
            &:first-of-type
            {
                background: #eee !important;
            }
            &:nth-last-of-type(2n+1)
            {
                background: #f8f8f8;
            }
            &:nth-last-of-type(2n)
            {
                background: #fcfcfc;
            }

            width: 100%;
        }

        th
        {
            font-weight: bold;
        }
    }
}

#bay-cristal
{
    margin-left: 20px;
}

#bay-pure
{
    margin-left: 20px;
    background:  #61b313;
}

#bay-banner
{
    margin-left:   0px;
    margin-bottom: 10px;
    background:    #dd0000;
}