.Header
{
    position: relative;
}

.Header-Hamburger
{
    display:  none;
    position: absolute;
    right:    14px;
    top:      6px;

    @include Adaptive("<=ipad-L")
    {
        display:  block;
        position: absolute;
        z-index:  100;
        padding:  0;
        top:      20px;
        right:    4px;
    }
}

.Header-Menu
{
    display: table;
    width:   100%;
    height:  64px;

    @at-root .Header-Logo
    {
        display:        table-cell;
        vertical-align: middle;

        h2
        {
            font-size:      24px;
            color:          #5e5e5e;
            font-weight:    500;
            font-style:     italic;
            padding-bottom: 0;
        }

        span
        {
            color: $button-color;
        }

    }

    nav
    {
        ul
        {
            position: relative;
        }
        @extend %Transition-Std;

        display:        table-cell;
        width:          100%;
        vertical-align: middle;
        text-align:     right;
        font-size:      0;
        z-index:        5;

        &.Active
        {
            @extend %Transition-Std;

            @include Adaptive("<=ipad-L")
            {
                transform: translateX(0px);
            }
        }

        @include Adaptive("<=ipad-L")
        {
            display:    block;
            position:   absolute;
            left:       0;
            right:      0;
            top:        0;
            width:      100%;
            padding:    24px;
            background: white;

            transform:  translateY(-100%);

        }

        li
        {

            @extend %Transition-Std;

            display:        inline-block;
            vertical-align: middle;
            font-size:      14px;
            color:          $filter-list-color;
            margin-left:    28px;
            padding:        8px 10px;
            cursor:         pointer;

            @include Adaptive("<=ipad-L")
            {
                display:    block;
                margin:     0 0 12px 0;
                text-align: left;

                &:last-of-type
                {
                    margin-bottom: 0;
                }
            }

            &.Active
            {
                @extend %Border-Radius;

                background: $button-color;

                color:      white;

                &:hover
                {
                    color: white;
                }
            }

            &:hover
            {
                @extend %Transition-Std;

                color: $button-color;
            }

            a
            {
                cursor: pointer;
            }
        }

        .Show-Hidden-Menu
        {

            margin:  0 0 10px 0;
            padding: 0;

            em
            {
                display: none;
            }
        }
        @include Adaptive('>=ipad-L')
        {
            .Show-Hidden-Menu
            {
                margin-bottom: 0;
                margin-left:   28px;

                em
                {
                    display: block;
                    padding: 8px 10px;
                }
                .Hidden-List
                {
                    visibility: hidden;
                    opacity:    0;
                    position:   absolute;
                    padding:    5px 5px;
                    z-index:    10;
                    margin-top: 10px;
                    right:      0;
                    text-align: left;
                    background: white;
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
                    transition: 0.3s;

                    li
                    {
                        display: block;
                        margin:  0;
                    }
                }
                span
                {
                    font-size: 10px;
                }

                &:hover .Hidden-List
                {
                    visibility: visible;
                    opacity:    1;
                }
            }

        }

    }
}

.Header-Filters
{
    position:   relative;
    background: rgba(0, 0, 0, 0.7);
    transition: 0.2s ease;

    @at-root .Show-Filters
    {
        display: table;
        width:   100%;
        padding: 15px 0;

        .Filter-Block
        {
            position:       relative;
            display:        table-cell;
            vertical-align: middle;
            width:          50%;

            @include Adaptive("<=ipad-L")
            {
                display:    block;
                width:      100%;
                text-align: left;

                &.Left
                {
                    margin-bottom: 12px;
                }
            }
        }

        @at-root .Header-Search
        {
            position: relative;
            display:  inline-block;

            @include Adaptive("<=ipad-L")
            {
                display: block;
            }

            input
            {
                @extend %Border-Radius;

                width:          312px;
                height:         32px;
                padding-left:   50px;
                padding-bottom: 2px;
                font-size:      14px;
                color:          #787878;

                @include Adaptive("<=ipad-L")
                {
                    width: 100%;
                }
            }

            svg
            {
                position: absolute;
                left:     0;
                top:      0;
                padding:  8px 17px;
                cursor:   pointer;
                width:    16px;
                height:   16px;
                fill:     #787878;
            }
        }

        @at-root .Filter-Button
        {
            display: inline-block;
            @extend %Unselectable;
        }

        @at-root .Filter-Open
        {
            display:   inline-block;
            font-size: 0;
            color:     white;
            cursor:    pointer;
            //padding:   1px 0;

            &.DisActive
            {
                display: none;
            }

            svg
            {
                display:        inline-block;
                vertical-align: middle;
                width:          12px;
                height:         12px;
                fill:           white;
            }

            span
            {
                display:        inline-block;
                vertical-align: middle;
                font-size:      16px;
                //padding-left:   8px;
                font-weight:    500;
            }
        }

        @at-root .Filter-Close
        {
            display:   none;
            font-size: 0;
            color:     white;
            cursor:    pointer;

            &.Active
            {
                display: inline-block;
            }

            svg
            {
                display:        inline-block;
                vertical-align: middle;
                width:          16px;
                height:         16px;
                fill:           white;
            }

            span
            {
                display:        inline-block;
                vertical-align: middle;
                font-size:      14px;
                padding-left:   8px;
                font-weight:    500;
            }
        }
    }

    @at-root .Filter-Menu
    {
        //display:        none;
        display:        block;
        padding-bottom: 25px;
        background:     rgb(76, 76, 76);
        z-index:        9;
    }

    @at-root .Filter-List
    {

        display:    table;
        width:      100%;
        margin-top: 8px;
        color:      $filter-list-color;

        .Filter-Title
        {
            display:                   table-cell;
            width:                     150px;
            vertical-align:            top;
            background:                $back-card;
            font-size:                 14px;
            font-weight:               500;
            padding:                   14px 10px 0 24px;
            border-top-left-radius:    3px;
            border-bottom-left-radius: 3px;

            @include Adaptive("<=tablet")
            {
                width:   100px;
                padding: 14px 10px 0 10px;
            }
        }

        ul
        {
            display:                    table-cell;
            position:                   relative;
            vertical-align:             top;
            font-size:                  0;
            padding:                    9px 40px 5px 18px;
            background:                 white;
            border-top-right-radius:    3px;
            border-bottom-right-radius: 3px;

            @include Adaptive("<=tablet")
            {
                padding: 10px;
            }
        }

        li
        {
            display:        inline-block;
            vertical-align: middle;
            font-size:      14px;
            margin-right:   10px;
            margin-bottom:  4px;

            a
            {
                padding: 5px 6px 4px 6px;
                @extend %Border-Radius;
            }

            &.Active
            {

                color: white;
                a
                {
                    background: $button-color;
                }
                &:hover a
                {
                    background: #8b0000;
                }
            }

            &:hover
            {
                color: white;
                a
                {
                    background: $button-color;
                }
            }

        }
    }
}

.Admin-Panel
{
    color: #f33333;
}