.JS-Modal-Blackout
{
    position:   fixed;
    visibility: hidden;
    opacity:    0;
    z-index:    1000;
    top:        0;
    left:       0;
    right:      0;
    width:      100%;
    height:     100%;
    transition: all 0.7s ease;
    background: rgba(0, 0, 0, 0.8);

    .JS-Modal
    {
        position:   absolute;
        top:        20%;
        left:       0;
        right:      0;
        visibility: hidden;
        box-sizing: border-box;
        margin:     0 auto;
        transition: all 0.7s ease;
    }

    &.Visible
    {
        visibility: visible;
        opacity:    1;
        .JS-Modal
        {
            visibility: visible;
            opacity:    1;
            transition: all 0.7s ease;
        }
    }

}

.JS-Modal-Button
{
    cursor: pointer;
}

.Cabinet-Message
{
    font-size:  14px;
    margin-top: 20px;
    color:      #f71212;
}

.Pay-Popup
{
    display: block;

    label, p, select, input
    {
        margin-bottom: 10px;
        display:       block;
    }
    label
    {
        margin-top: 20px;
    }
    .Cabinet-Content
    {
        padding-top: 0;
    }

    .Full-Cost, .Full-Sale
    {
        span
        {
            font-weight: bold;
        }
    }
}