.Cabinet
{
    max-width:  624px;
    width:      100%;
    background: white;

    @include Adaptive("<624px")
    {

    }

    @at-root .Cabinet-Head
    {
        position: relative;
        padding:  22px 48px;
    }

    @at-root .Cabinet-Title
    {
        @extend %Unselectable;

        font-size:   20px;
        color:       $card-text;
        font-weight: 500;
    }

    @at-root .Cabinet-Close
    {
        position:  absolute;
        right:     14px;
        top:       2px;
        color:     #5e5e5e;
        font-size: 38px;
        cursor:    pointer;
        padding:   10px;
    }
    @at-root .Cabinet-Nav
    {

        font-size:    0;
        padding-left: 36px;
        padding-top:  16px;
        background:   $back-card;

        li
        {
            @extend %Unselectable;
            @extend %Inline-Block-Top;

            font-weight:             700;
            color:                   $card-text;
            font-size:               14px;
            padding:                 10px 10px 7px 10px;
            text-transform:          uppercase;
            border-top-left-radius:  3px;
            border-top-right-radius: 3px;
            cursor:                  pointer;

            &.Active
            {
                background: white;
            }
        }
    }

    @at-root .Cabinet-Content
    {
        padding: 32px 48px;

        li
        {
            display:       table;
            width:         100%;
            margin-bottom: 16px;
        }

        label
        {
            @extend %Unselectable;

            display:        table-cell;
            vertical-align: middle;
            width:          168px;
            color:          $card-text;
            font-size:      14px;

            @include Adaptive("<624px")
            {
                display:       block;
                width:         100%;
                margin-bottom: 12px;
            }
        }

        input, select
        {
            @extend %Border-Radius;

            display:        table-cell;
            vertical-align: middle;
            width:          100%;
            padding:        0 24px;
            font-size:      14px;
            color:          $card-text;
            border:         1px solid #e2e2e2;
            height:         32px;

            @include Adaptive("<624px")
            {
                display: block;
                width:   100%;
            }
        }
    }

    @at-root .Cabinet-Buttons
    {
        display:      table;
        width:        100%;
        padding-left: 168px;

        @include Adaptive("<624px")
        {
            padding: 0;
        }

        @at-root .Cabinet-Enter
        {
            @extend %Border-Radius;
            @extend %Table-Cell-Middle;

            height:           32px;
            padding:          0 24px;
            color:            white;
            background-color: $button-color;
            font-size:        14px;
            font-weight:      500;
            transition:       0.3s;

            @include Adaptive("<624px")
            {
                display: block;
                margin:  0 auto 12px;
                padding: 0;
            }

            &:hover
            {
                background-color: lighten($button-color, 10%);
            }
        }

        @at-root .Restore-Password
        {

            @extend %Table-Cell-Middle;

            width:      100%;
            text-align: right;

            @include Adaptive("<624px")
            {
                display:    block;
                width:      100%;
                text-align: center;
            }

            a
            {
                display:         inline-block;
                color:           $button-color;
                text-decoration: underline;
                font-size:       14px;
                font-weight:     500;
            }
        }
    }

}
