.Pagenav
{

    font-size:  0;
    text-align: center;
    margin-top: 34px;

    ul
    {
        @extend %Inline-Block-Middle;
    }

    li
    {
        @extend %Inline-Block-Middle;
        @extend %Transition-Std;

        width:       46px;
        height:      32px;
        background:  white;
        font-size:   12px;
        color:       $card-text;
        margin:      0 1px;
        font-weight: 500;

        &.Active
        {
            background: $button-color;
            color:      white;

            &:hover
            {
                color: white;
            }
        }

        &:hover
        {
            @extend %Transition-Std;
            color: $button-color;
        }

        a
        {
            padding: 10px 0;
        }
    }

    span
    {
        @extend %Inline-Block-Middle;

        width:      46px;
        height:     32px;
        background: white;
        margin:     0 1px;

        svg
        {

            @extend %Transition-Std;

            width:      17px;
            height:     20px;
            margin-top: 5px;
            fill:       #acacac;
        }

        &:hover
        {
            @extend %Transition-Std;
            background: $button-color;

            svg
            {
                @extend %Transition-Std;
                fill: white;
            }
        }

        a
        {
            width:  100%;
            height: 100%;
        }

    }

    .Pagenav-Beginning
    {

        border-top-left-radius:    3px;
        border-bottom-left-radius: 3px;

        svg
        {
            transform-origin: center center;
            transform:        rotate(90deg);
            margin-right:     3px;
        }
    }

    .Step-Prev
    {
        svg
        {
            transform-origin: center center;
            transform:        rotate(90deg);
            margin-right:     3px;
        }
    }

    .Pagenav-End
    {

        border-top-right-radius:    3px;
        border-bottom-right-radius: 3px;

        svg
        {
            transform-origin: center center;
            transform:        rotate(-90deg);
        }
    }

    .Step-Next
    {

        svg
        {
            transform-origin: center center;
            transform:        rotate(-90deg);
        }
    }
}

.Button-Up
{
    @extend %Border-Radius;
    @extend %Transition-Std;

    position:   fixed;
    left:       20px;
    top:        40%;
    padding:    6px 7px;
    background: #f3f3f3;
    cursor:     pointer;

    &:hover
    {
        @extend %Transition-Std;

        background: $button-color;

        svg
        {
            @extend %Transition-Std;

            fill: white;
        }
    }

    @include Adaptive("<=ipad-D")
    {
        display: none;
    }

    svg
    {
        @extend %Transition-Std;
        width:            25px;
        height:           25px;
        transform-origin: center center;
        transform:        rotate(180deg);
    }
}

.pagination
{
    display:    block;
    width:      100%;
    margin-top: Atom(2);
    text-align: center;
    @extend %Inline-Block-Middle;
    font-size:  0;

    li
    {
        @extend %Inline-Block-Middle;
        @extend %Transition-Std;

        display:     inline-block;
        width:       46px;
        height:      32px;
        background:  white;
        font-size:   16px;
        color:       $card-text;
        margin:      0 1px;
        font-weight: 500;

        &.active
        {
            span, a
            {
                background: $button-color !important;
                color:      white;
            }

            &:hover
            {
                color: white;
            }
        }

        &:hover
        {
            @extend %Transition-Std;
            color: $button-color;
        }

        a, span
        {
            display:    block;
            padding:    10px 0;
            background: #f1f1f1;
        }
    }

    .disabled
    {
        span
        {
            background-color: #f1f1f1;
        }

        &:hover
        {
            color: $Grey-D;
        }
    }
}
