.Posts-Item
{
    .Posts-Image
    {
        display:        inline-block;
        width:          20%;
        padding-right:  Atom(2);
        vertical-align: top;
    }
    .Posts-Info
    {
        display:        inline-block;
        width:          80%;
        vertical-align: top;
    }
    .Posts-Introtext
    {
        line-height:    Atom(3);
        padding-bottom: Atom(3);
    }
    .Posts-Created
    {
        color:     #787878;
        font-size: 14px;
    }

    & + .Posts-Item
    {
        border-top: 2px solid #f3f3f3;
    }
}

.Post
{
    .Post-Image
    {
        display:        inline-block;
        width:          20%;
        padding-right:  Atom(2);
        vertical-align: top;
    }
    .Post-Info
    {
        display:        inline-block;
        width:          80%;
        vertical-align: top;
    }
    .Post-Fulltext
    {
        line-height:    Atom(3);
        padding-bottom: Atom(3);
    }
    .Post-Created
    {
        color:     #787878;
        font-size: 14px;
    }
    .Post-Comments
    {
        margin-top: Atom(2);
    }
}
