.Servers-List
{
    margin-top: Atom(2);
    text-align: left;

    td
    {
        padding:        Atom(2) 0;
        vertical-align: middle;
        line-height:    Atom(3);
        strong
        {
            display:     block;
            font-weight: 700;
        }
        span
        {
            font-weight: 300;
            color:       $Grey;
        }
    }

    thead
    {
        font-weight:   600;
        th
        {
            padding-bottom: Atom(2);
        }

        border-bottom: 1px solid $Grey-L;
    }

    th, td
    {
        &:nth-of-type(1)
        {
            width: 5%;
        }
        &:nth-of-type(2)
        {
            width: 30%;
        }
        &:nth-of-type(3)
        {
            width: 10%;
        }
        &:nth-of-type(4)
        {
            width: 10%;
        }
        &:nth-of-type(5)
        {
            width: 5%;
        }
        &:nth-of-type(6)
        {
            width: 10%;
        }
        &:nth-of-type(7)
        {
            width: 10%;
        }
        &:nth-of-type(8)
        {
            width: 10%;
        }
    }

    tr
    {
        border-bottom: 1px solid $Grey-L;
    }
}